@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,500&family=Lato:wght@100;300;400;700&display=swap');

body {
    background-color: #252525;
    font-family: Lato, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
}

/* HEADER AND FOOTER */

.logo {
    width: 13rem;
    margin-left: 20px;
}

.navbar,
footer {
    background-color: #181818;
}

.navbar,
.header-spacing {
    height: 5rem;
}

.footer-spacing {
    height: 56px;
}

/* BASE PAGES AND LAYOUTS */

.bg-img-container {
    background: url("../images/main_bg.jpg") center/cover;
    width: 100vw;
    height: 100vh;
}

.container {
    padding-top: 1rem;
}

/* WELCOME PAGE */

.page-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 65%;
    padding: 2rem 3rem;
}

.title-logo {
    width: 70%;
}

.welcome-subtitle {
    font-size: 1.5rem;
    margin: 1rem 0 1.4rem;
}

.content-box {
    background-color: #181818;
    border-color: #3d9970;
}

.welcome-card a {
    color: #3d9970;
}

/* TRIPS DASHBOARD */

.trip-card .card-body a {
    text-decoration: none;
}

.trip-card .card-title {
    color: white;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
}

/* MAPS */

.select-location-map {
    height: 40vh;
    width: 50vw;
}

.trip-map {
    height: 40vh;
    width: 55vw;
}

.full-map {
    height: 80vh;
}

/* FORMS */

#locations-list li {
    list-style-type: none;
}