@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,500&family=Lato:wght@100;300;400;700&display=swap');

body {
    background-color: #252525;
    font-family: Lato, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
}

.btn-basic {
    border: 1px solid #34825f;
    background-color: #34825f;
    padding: 5px 8px;
    border-radius: 0.15rem;
    height: fit-content;
}

.btn-basic:hover {
    border: 1px solid #34825f;
}

/* HEADER AND FOOTER */

.logo {
    width: 13rem;
    margin-left: 20px;
}

.navbar,
footer {
    background-color: #181818;
}

.navbar,
.header-spacing {
    height: 5rem;
}

.footer-spacing {
    height: 56px;
}

/* BASE PAGES AND LAYOUTS */

.bg-img-container {
    background: url("../images/main_bg.jpg") center/cover;
    width: 100vw;
    height: 100vh;
}

.container {
    padding-top: 1rem;
}

/* WELCOME PAGE */

.page-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 65%;
    padding: 2rem 3rem;
}

.title-logo {
    width: 70%;
}

.welcome-subtitle {
    font-size: 1.5rem;
    margin: 1rem 0 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
}

.content-box {
    background-color: #181818;
    border-color: #3d9970;
}

.welcome-card a {
    color: #3d9970;
}

/* TRIPS DASHBOARD */

.button-right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.trip-card {
    background-color: #181818;
    border: none;
}

.trip-card .card-body a {
    text-decoration: none;
}

.trip-card .card-body a:hover h2 {
    color: #3d9970;
}

.trip-card .card-title {
    color: white;
    font-family: 'Cormorant Garamond', Lato, sans-serif;
    font-weight: 600;
}

.dashboard-trip-dates {
    font-weight: 300;
}

/* ADD TRIP AND LOCATIONS */

.datepicker {
    padding: 2px 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgb(133, 133, 133);
}

.datepicker table tr td.day:hover,
.datepicker tfoot tr th:hover {
    background: #3d9970;
}

.datepicker table tr td.active {
    background-image: linear-gradient(to bottom,#3d9970,#276348);
}

/* TRIP DETAIL */

.trip-detail-container h1 {
    margin-bottom: 1.1rem;
}

.trip-detail-dates {
    font-family: 'Cormorant Garamond', Lato, sans-serif;
    font-size: 1.2rem;
}

.trip-timeline-item {
    padding-left: 15px;
    padding-bottom: 20px;
    border-left: 1px solid #3d9970;
    position: relative;
    list-style-type: none;
}

.trip-timeline-item::after {
    content: "";
    position: absolute;
    left: -5.2px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #3d9970;
    background-color: #252525;
}

/* MAPS */

.select-location-map {
    height: 40vh;
    width: 50vw;
}

.trip-map {
    /* height: 40vh; */
    width: 100%;
}

.full-map {
    height: 80vh;
}

/* FORMS */

#locations-list li {
    list-style-type: none;
}