@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    background-color: #252525;
    font-family: Roboto, sans-serif;
}

.navbar,
footer {
    background-color: #181818;
}

/* MAPS STYLES */

.select-location-map {
    height: 40vh;
    width: 50vw;
}

.trip-map {
    height: 40vh;
    width: 55vw;
}

.full-map {
    height: 80vh;
}

/* FORMS STYLES */

#locations-list li {
    list-style-type: none;
}