{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

<!-- Leaflet.Autocomplete -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/css/autocomplete.min.css">

<!-- jQuery UI -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ trip.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <form id="locations-form" method="POST">
                {% csrf_token %}
                <h2>Locations</h2>
                {{ formset.management_form }}
                <div id="empty-form" style="display:none">
                    {{ formset.empty_form.as_p }}
                </div>
                <p id="locations-instructions">
                    Search for locations on the map and select them to add to the trip.
                </p>
                <ul id="locations-list">
                    {% for form in formset.forms %}
                        <li class="location-form">
                            {{ form.as_p }}
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <p>
                        <button type="submit">Save Trip</button>
                    </p>
                </div>
            </form>

        </div>
        <div class="col-7">
            <div class="locations-map-search">
                <div class="auto-search-wrapper">
                    <input type="text" autocomplete="off" id="search" class="full-width"
                        placeholder="enter the location name">
                </div>
                <button class="btn btn-basic btn-general" id="add-location" type="button">Add</button>
            </div>
            <div class="select-location-map" id="map"></div>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Leaflet.Autocomplete -->
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/js/autocomplete.min.js"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script type="module" src="{% static 'js/map_sizing.js' %}"></script>
<script type="module" src="{% static 'js/add_locations.js' %}"></script>

{% endblock %}