{% extends "base.html" %}

{% block styles %}

<!-- bootstrap-datepicker -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

{% endblock %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h1>Edit Trip</h1>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <p>
                <button class="btn btn-basic btn-general" type="submit">Save</button>
            </p>
        </div>
    </form>
</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- bootstrap-datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'js/trip_form.js' %}"></script>

{% endblock %}