{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

{% endblock %}


{% block content %}

<section>
    <div class="full-map" id="map">
        <button class="map-style-button" id="life-map-style-toggle">Map Style</button>
    </div>
</section>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Coordinates stored as JSON -->
{{ coordinates|json_script:"coordinates" }}

<script src="{% static 'js/life_map.js' %}"></script>

{% endblock %}