{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Trips Dashboard</h1>
        </div>
        <div class="col-3 button-right-col">
            <a class="btn btn-basic btn-general" href="{% url 'add_custom_trip' %}" role="button">Add a trip</a>
            <button class="btn btn-basic btn-edit" type="button" data-bs-toggle="collapse"
                data-bs-target=".trip-card-controls" aria-expanded="false">Edit trips</button>
        </div>
    </div>

    <div class="row">

        <!-- Trips Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for trip in trips %}
                <div class="col-md-6 col-xxl-4">
                    <div class="card mb-4 trip-card rounded-0">
                        <a href="{% url 'view_custom_trip' trip.id %}">
                            <div class="dashboard-cover-image-wrapper">
                                {% if trip.cover_image.url %}
                                <img src="{{ trip.cover_image.url }}" class="dashboard-cover-image"
                                    alt="Trip cover image">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="{% url 'view_custom_trip' trip.id %}">
                                <h2 class="card-title">{{ trip.title }}</h2>
                            </a>
                            {% if trip.start_date and trip.end_date %}
                            <p class="dashboard-trip-dates">{{ trip.start_date }} - {{ trip.end_date }}</p>
                            {% endif %}
                            <div class="collapse trip-card-controls">
                                <a class="edit-icon-btn trip-card-btn" href="#" role="button"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <button class="delete-icon-btn trip-card-btn" type="button" data-bs-toggle="modal"
                                    data-bs-target="#modal-{{ trip.id }}"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Confirm deletion modal -->
                <div class="modal" id="modal-{{ trip.id }}" aria-label="Confirm Trip Deletion" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Confirm Deletion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete "{{ trip.title }}"? This action cannot be undone.</p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-basic btn-delete-cancel"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-basic btn-delete" href="{% url 'delete_trip' trip.id %}"
                                        role="button">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}