{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

<!-- Leaflet.Autocomplete -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/css/autocomplete.min.css">

{% endblock %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ trip.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 order-2 order-md-1">
            <form id="locations-form" method="POST" autocomplete="off">
                {% csrf_token %}
                <h2>Locations</h2>
                {{ formset.management_form }}
                <div id="empty-form" style="display:none">
                    {{ formset.empty_form.as_p }}
                </div>
                <p id="locations-instructions">
                    Search for locations on the map and select one to add it to the trip. Drag and drop locations to
                    reorder.
                </p>
                <ul id="locations-list">
                    {% for form in formset.forms %}
                    <li class="location-form">
                        {{ form.as_p }}
                    </li>
                    {% endfor %}
                </ul>
                <ul id="deleted-locations"></ul>
                <div>
                    <p>
                        <button class="btn btn-basic btn-general form-submit-btn" id="save-locations-button"
                            type="submit">Save Locations</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-md-7 order-md-2">
            <div class="locations-map-search">
                <div class="auto-search-wrapper">
                    <input type="text" autocomplete="off" id="search" class="full-width"
                        placeholder="enter the location name">
                </div>
                <button class="btn btn-basic btn-general" id="add-location" type="button">Add</button>
            </div>
            <div class="select-location-map" id="map"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Leaflet.Autocomplete -->
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/js/autocomplete.min.js"></script>

<!-- jsDelivr :: Sortable -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<!-- Initial coordinates stored as JSON -->
{{ coordinates|json_script:"initialCoordinates" }}

<script type="module" src="{% static 'js/update_locations.js' %}"></script>

{% endblock %}