{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ trip.title }}</h1>

            <ul class="trip-timeline">
                {% for location in locations %}
                <li class="trip-timeline-item">{{ location.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <div class="trip-map" id="map"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Coordinates stored as JSON -->
{{ coordinates|json_script:"coordinates" }}

<script src="{% static 'js/trip_map.js' %}"></script>

{% endblock %}