{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

{% endblock %}


{% block content %}

<div class="container trip-detail-container">
    <div class="row">
        <div class="col">
            <h1>{{ trip.title }}</h1>
            <a class="edit-icon-btn trip-card-btn" href="{% url 'edit_trip' trip.id %}" role="button"><i
                    class="fa-solid fa-pencil"></i></a>
            <button class="delete-icon-btn trip-card-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#modal"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 order-2 order-md-1">
            {% if trip.start_date and trip.end_date %}
            <p class="trip-detail-dates">{{ trip.start_date }} - {{ trip.end_date }}</p>
            {% endif %}

            {% if trip.note %}
            <p class="trip-detail-note">{{ trip.note }}</p>
            {% endif %}

            <ul class="trip-timeline">
                {% for location in locations %}
                <li class="trip-timeline-item">{{ location.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 order-md-2">
            <div class="trip-map" id="map"></div>
        </div>
    </div>
</div>

<!-- Confirm deletion modal -->
<div class="modal" id="modal" aria-label="Confirm Trip Deletion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Confirm Deletion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete "{{ trip.title }}"? This action cannot be undone.</p>
                <div class="text-end">
                    <button type="button" class="btn btn-basic btn-delete-cancel"
                        data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-basic btn-delete" href="{% url 'delete_trip' trip.id %}" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Coordinates stored as JSON -->
{{ coordinates|json_script:"coordinates" }}

<script src="{% static 'js/trip_map.js' %}"></script>

{% endblock %}