{% extends "base.html" %}

{% block styles %}

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

{% endblock %}


{% block content %}

<div class="container-fluid">
    <h1>{{ trip.title }}</h1>

    <ul>
        {% for location in locations %}
        <li>{{ location.name }}</li>
        {% endfor %}
    </ul>

    <div class="trip-map" id="map"></div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Coordinates stored as JSON -->
<!-- {{ coordinates|json_script:"coordinates" }} -->

<!-- <script src="{% static 'js/trip_map.js' %}"></script> -->

{% endblock %}